/* You can add global styles to this file, and also import other style files */

        * {
            margin: 0px;
            padding: 0px;
            position: relative;
        }

    
    
            html,
            body {
                width: 100vw;
                height: 100vh;
                background-color: #51F709;
            }
    
        
    
            .row-one,
            .row-two,
            .row-three {
                display: grid;
                grid-template-columns: 1fr 5fr 1fr;
                margin: 12px;
            }
    
       
            
            .row-three {}
            .container-padding {
                margin: 12px;
                border: 1px dashed black;
            }
 
        

        .main-container {
            display: grid;
            height: 100%;
            grid-template-rows: 1fr 12fr 1fr;
        }

   

        .row-two {
            background-color: #dd5e5e;
            height: 100%;
        }
        
